/* .image-gallery-component-gallery{
    padding: 20px;
} */

.image-list{
    width: 100%;
    max-width: 900px;
    margin: auto;
    height: 100%;
    overflow: hidden;
    border-radius: 12px;
}



li > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dialog {
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 480px) {
    .image-list{
        height: 500px;
    }
}