.third-section-container{
    background-color: black;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 1024px) {
    .third-section-container{
        flex-direction: row;
        align-items: center;
    }
}